
.logo{ 
    display: inline-block;
            width: 30%;
            text-align: center;
            font-size: 30px;
}

body {
    margin: 0;
    background-image:  url('lapki.jpg');
    background-attachment: fixed;
}

.podrobnosti {
    display: flex;
    justify-content: center;
}

.podrobnosti a{
    color: black;
    background-color: aqua;
    border-radius: 40px;
    padding: 5px;
}



header {
    background-color: orange;
    color: white;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.articles>*{
    width: 30%;
    background-color: white;
    padding: 20px;
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    margin: 20px 0px;
}



.articles{ 
    display: flex;
    justify-content: space-around;

}

.space{
            width: 100px;
            display: inline-block;
        }

a{
            text-decoration: none;
            color: white;
        }

nav {
            display: inline-block;
            width: 60%;
            text-align: center}